html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(
    65deg,
    lightseagreen 50%,
    #e4e9fd 50%
  );
  font-family: 'helvetica neue';
  min-height: 1000px;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
  max-width: 400px;
}

#heading {
  background-color: lightseagreen;
  text-align: center;
}

.item {
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  min-height: 70px;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: lightseagreen;
}

input[type='checkbox'] {
  margin: 20px;
}

p {
  color: #00204a;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
  padding: 20px;
}

form.item {
  margin-left: 20px;
  text-align: center;
}

button {
  background-color: lightseagreen;
  border-color: transparent;
  border-radius: 50%;
  border-width: 0;
  color: #fff;
  font-size: 30px;
  min-height: 50px;
  padding-bottom: 6px;
  width: 50px;
}

input[type='text'] {
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: 200;
  height: 60px;
  text-align: center;
  top: 10px;
  width: 313px;
}

input[type='text']:focus {
  box-shadow: inset 0 -3px 0 0 lightseagreen;
  outline: none;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
